<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b0521a7c-e85a-4275-9fce-1c5456bdd9bf/resourceGroups/MOD10MNUL/providers/Microsoft.Web/sites/webp20532artem</ResourceId>
    <ResourceGroup>MOD10MNUL</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://webp20532artem.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://webp20532artem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$webp20532artem</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>